mixin business(classes)
    .business(class=classes)
        .business-caption.sp-mb20
            .business__img
                img(src='./images/jobs/jobs2.png' alt='jobsの業務内容の画像')
            .business__img--txt.mt10 フリークリエイター向けに運営しているコワーキングスペース。私たちは、クリエイターが自由に仕事をデザインし、最大限に能力を発揮できる場を提供します。
        .business-contents
            p.business__ttl 【業務内容】
            ul.business__txt
                li.business__txt-item プロジェクトゴールの設定やお客様課題の整理などの与件整理
                li.business__txt-item コンセプト設計やクリエイティブ全般のプランニング
                li.business__txt-item 制作物のクオリティやチーム管理などのディレクション業務
            p.business__ttl.mt20 【必須要件】 ※以下のいずれかに該当
            ul.business__txt
                li.business__txt-item クリエイティブ、ビジネスの両面からプロジェクトを捉えられる方
                li.business__txt-item 下記の経験があり、現在の領域を超えたチャレンジを志向される方
                li.business__txt-child - 制作ディレクター（グラフィック、映像、Web・アプリ 等）
                li.business__txt-child - UXデザイナー／UXコンサルタント
                li.business__txt-child - 戦略系や新規事業系のコンサルタント
                li.business__txt-child - サービス／事業の責任者ポジション（プロデューサー）
                li.business__txt-child - 企業内での新規事業開発ポジション
                li.business__txt-child - ブランディングやマーケティングのリードポジション 等
            p.business__ttl.mt20 【歓迎要件】
            ul.business__txt
                li.business__txt-item 現状のビジネス課題を整理、再構築する力
                li.business__txt-item デザイン思考アプローチを柔軟に使いこなす力
                li.business__txt-item チームを盛り上げるコミュニケーション力
                li.business__txt-item 最良の方法を見つける発想力
                