mixin card(img,title,txt, ...tags)
    .card.wow.fadeInUp
        a(href="#").card__link
            .card__img
                img(src= img)
            h3.card__ttl= title
            if txt
                p.card__txt= txt
        ul.card__list
            each tag in tags
                li.card__list-item 
                    a(href="#") ##{tag}
