mixin gallery(img,title)
    .gallery-wrap.wow.fadeInUp
        a(href="#").gallery__link
            .gallery__img
                img(src= img)
            h3.gallery__ttl= title
            p.gallery__txt 2019
            p.gallery__txt offset printing
            p.gallery__txt 7.6×16.2