header.header
    h1.header__logo
        a(href="/").logo-left
            img(src="./images/common/logo_left.png" alt="株式会社POINT EDGE マーク")
        div.logo-rignt
            a(href="/").logo-right__name
                img(src="./images/common/logo_right.svg" alt="株式会社POINT EDGE")
            p.logo-right__txt.sp-none 意味を,デザインする.
    .nav-toggle.pc-none
        .nav-toggle-wrap
            .toggle__item
                .toggle__animation1
            .toggle__item
                .toggle__animation2
            .toggle__item
                .toggle__animation3
    .nav__bg
    .nav__cansel
        .cansel
    a(href="contact").header__contact.sp-none#contact CONTACT
    nav.nav
        ul.nav-wrap
            - const navList = ['ABOUT', 'SERVICE', 'WORK', 'BLOG', 'JOBS', 'SPACE']
            - const navLink = ['about', 'service', 'work', 'blog', 'jobs', 'space']
            for item, index in navList 
                li.nav__item 
                    if item== 'SPACE'
                        .nav__link.space__toggle #{item}
                            ul.pull-down
                                li.pull-down__item
                                    a(href="https://www.pointedge.work/shibuya/" target="_blank") ShibuyaBase
                                li.pull-down__item
                                    a(href="http://foto-daikanyama.com/" target="_blank") foto
                    else
                        a(href="/" + navLink[index] id= navLink[index]).nav__link #{item}
            li.nav__item.pc-none
                a(href="/" + navLink[index]).nav__link CONTACT
    