mixin spaceCard(logo,logoAlt,ttl,txt,link,src,alt)
    .space
        .space__contents
            .space__logo
                img(src= logo, alt= alt)
            h3.space__ttl= ttl
            if txt== true
                p.space__txt 〒150-0002  東京都渋谷区渋谷2-22-6 10F
                    br 
                    | 平日:10:00 – 22:00(受付終了：20:00)
                    br
                    | 土日祝日：定休日
            else
                p.space__txt 〒153-0042  東京都目黒区青葉台1-6-1  B1
            a(href= link target="_blank").space__link= link
        a(href= link target="_blank" style="background-image:url('" + src +"')").space__img