include _work-card.pug
include _card.pug
include _news-contents.pug
include _space-card.pug
include _button.pug
doctype html
html(lang="ja")
  head
    include _head.pug
  body
    .top-page
      .top-section.top-section1
        include _header.pug
        section.top-letter
          .top-letter-wrap
            .top-letter__slider
              .top-letter__slider-img#container(style="background: url('./images/top/parallax.png') center center no-repeat")
          .bookmark
            .bookmark-item
              p.bookmark__description Inspiring word  
              p.bookmark__num vol.001
              h2.bookmark__ttl 「流動的」
              p.bookmark__txt Jaroslaw Danilenko
                br
                | 2019
              a(href="#").bookmark__link editor's letter
      .top-section.top-section2
        section.top-belief
          .top-belief-wrap
            .top-belief-contents
              h2.top-belief__ttl 意味を,
                br.sp-none
                | デザインする.
              .top-belief-word
                p.top-belief__txt 私たちは、ビジネスの課題設定からコンセプトの定義、ブランディングまで、「意味をデザイン」するビジネスデザイン集団です。
                p.top-belief__txt 私たちのアプローチは、これ一つと言えるものではなく、多様で複雑です。ビジネスの在り方や置かれた環境は一様でなく、適切なアプローチの選択を重ねることで、ゴールに到達できると信じているからです。
                p.top-belief__txt 動かなければ、ビジネスにはならない。自明の理ですが、多くの企業が乗り越えるべき課題でもあります。だから、私たちは「言葉」を大事にします。複雑な課題も、組織のビジョンも言語化し、正しく、深く伝わるように。そして、ビジネスの未来を実現するために、どこまでも並走します。
                p.top-belief__txt 「言葉」を武器に、ビジネスのあるべき姿を実現していく。これが、私たちの考えるビジネスデザインです。
        section.top-work
          .top-work__bg.rellax(data-rellax-percentage="0.5" data-rellax-speed="6")
          .top-work__parallax
            .top-work-wrap
              .top-work-contents
                h2.top-work__ttl SERVICE
                .work
                  +workCard('BUSINESS','顧客体験と事業のフィージビリティが共存する生態系のデザイン','/service/#business','Business Concept','Business Strategy','Service Design','Interface Design','Business Development')
                  +workCard('BRAND','世界観を言葉・ビジュアルへと昇華させ共感を広める仕組みのデザイン','/service/#brand','Brand Strategy','Brand Identity','Inner Branding','Brand Experience','Advertising')
                  +workCard('COMMUNITY ','有機的な結びつきをもたらしアイデアと文化が生まれる場のデザイン','/service/#community','Workshop','Community Design','Space & Operation','Coordination','Community Branding')
        section.top-study
          .top-study-wrap
            h2.top-study__ttl WORK
              br
              | /BLOG
            .top-study-contents
              .top-study-contents-in
                .top-study-contents__item
                  +card('./images/top/study1.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .top-study-contents__item
                  +card('./images/top/study2.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .top-study-contents__item
                  +card('./images/top/study3.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .top-study-contents__item
                  +card('./images/top/study1.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .top-study-contents__item
                  +card('./images/top/study2.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
              .top-study__btn
                +btn('#',txt='all work')
                +btn('#',txt='all blog')
        section.top-news
          .top-news-wrap
            h2.top-news__ttl NEWS
            .news
              +newsContents('2019.4.12','定期イベント　毎週土曜日11時から「エイコミュ」による英会話カフェ会を開催中。お気軽にご参加ください。')
              +newsContents('2019.4.12','定期イベント　毎週土曜日11時から「エイコミュ」による英会話カフェ会を開催中。お気軽にご参加ください。')
              +newsContents('2019.4.12','定期イベント　毎週土曜日11時から「エイコミュ」による英会話カフェ会を開催中。お気軽にご参加ください。')
              +newsContents('2019.4.12','定期イベント　毎週土曜日11時から「エイコミュ」による英会話カフェ会を開催中。お気軽にご参加ください。')
              +newsContents('2019.4.12','定期イベント　毎週土曜日11時から「エイコミュ」による英会話カフェ会を開催中。お気軽にご参加ください。')
        section.top-space#top-space
          .top-space-wrap
            h2.top-space__ttl SPACE
            .top-space__card
              +spaceCard('./images/top/space-logo1.svg','POINT EDGE ShibuyaBASEのロゴ','POINT EDGE ShibuyaBASE',true,'http://www.pointedge.work/shibuya/','../images/top/space-img1.png','POINT EDGE ShibuyaBASE')
              +spaceCard('./images/top/space-logo2.svg','FOTO DAIKANYAMAのロゴ','FOTO DAIKANYAMA',false,'http://foto-daikanyama.com/access/','../images/top/space-img2.png','FOTO DAIKANYAMA')
    include _footer.pug