include _media_right.pug
include _business.pug
doctype html
html(lang="ja")
  head
    include _head.pug
  body
    include _header.pug
    .jobs
        .jobs-visual
        .jobs-contents
            section.jobs-job
                h1.jobs-job__ttl.mt50 ビジネスとクリエイティブをつなぐビジネスデザイナーを募集します！
                h2.jobs-job__sbttl ディレクター、デザイナー、エンジニアなど、あなた自身のキャリアを活かしつつ、顧客のビジネスをアップデート。担当案件には一定の裁量を与え、自由なプロジェクトデザインで仕事をお任せします。
                +mediaRight(
                    './images/jobs/jobs1.png',
                    'デザイナーの説明',
                    'プロフェッショナルなチームと、未来のビジネスを創造するパートナーとしてイノベーションを支援します。',
                    'mt80 mb80',
                    false,
                    'テーマは、「仕事を自由に楽しむ」POINT EDGEは、「コト」と「モノ」をデザインする、ビジネスデザインを主とした事業展開を行なっています。 サービスの特徴は、「体験」を軸に、ビジネスとクリエイティブをつなぐ総合的なプランニングを強みとしていることです。「誰にとって、どのように良いものか？」というコンセプト設計に重きを置くため、 企画フェーズをないがしろにせず、お客様と徹底的に議論してから制作を行います。',
                    ' もう一つの特徴は、フリーランスのクリエイターとチームを組み、クリエイティブ制作を行うことです。コピーライター、グラフィックデザイナー、映像ディレクター、エンジニア、果てはプロダクトデザイナーや建築家まで、幅広いプロフェッショナルと協働します。職能ごとに作業を切り出すのではなく、コンセプトづくりの段階からみんなで企画し、ブレなくコンセプトをカタチに落とし込んでいきます。',
                    false,
                    'sp-mb20')
                +business('mb130')   
            section.jobs-requirements
                h2.jobs-requirements__ttl.mb60 応募要項
                .requirements
                    dl
                        dt 職種 / 募集ポジション
                        dd ビジネスデザイナー/プロデューサー
                    dl
                        dt 雇用形態
                        dd 正社員/契約社員
                    dl
                        dt 勤務時間
                        dd フレックス制(10:00-19:00基準)
                    dl
                        dt 給与
                        dd 年収 500万円 ~ 800万円
                            br
                            | ※スキルを考慮の上、当社規定により優遇
                            br
                            | 業績に応じた決算賞与
                            br 
                            | ※当社規定により面談の上、支給
                    dl
                        dt 勤務地
                        dd 〒150-0002
                            br
                            | 東京都渋谷区渋谷2-22-6 幸和ビル10階
                            br
                            | 渋谷駅ヒカリエ側出口より徒歩2分
                    dl
                        dt 待遇
                        dd 交通費全額支給 / 社会保険完備 / 社員旅行
                    dl
                        dt 休日休暇
                        dd 有給休暇 / 夏季休暇 / 年末年始休暇 / 週休2日制 / 土日祝日休み / 年間休日120日以上
                a(href="/contact").requirements__btn POINT EDGEの採用にエントリーする
                p.requirements__txt 興味があり質問などある場合は、
                    br
                    | facebookのメッセージからその旨をお知らせください。
                a(href="https://www.facebook.com/pointedgeinc/" target="_blank").requirements__sns
                    img(src="./images/jobs/facebook2.svg", alt="facebookのアイコン")
        section.jobs-other
            .jobs-other-link
                .jobs-other-link__item.jobs-other-link__left
            .jobs-other-link
                .jobs-other-link__item.jobs-other-link__center
            .jobs-other-link
                .jobs-other-link__item.jobs-other-link__right
    include _footer.pug