include _gallery.pug
doctype html
html(lang="ja")
  head
    include _head.pug
  body
    include _header.pug
    .letter
        .letter-contents
            .letter__inner
                p.letter__description editor's letter
                p.letter__num vol.001
                p.letter__writer text: Tetsuya Tomomatsu
                h1.letter__ttl 「流動的」
                p.letter__txt 「流動的」という言葉にはポジティブな響きがある。
                    br
                    | 「流動的」と人が言うとき、そのものの形状は固定されていない。また、一つの場所にも留まっていない。なめらかに、ある一定のシーケンスで状態が遷移している。その遷移には一定の特性なり、法則がある。それは、高いものから低いものへだったり、右から左へだったりする。遷移にはある種の優雅さがある。そこには何者にも束縛されない自由がある。その奔放さは、混沌や崩壊とは違う。緩やかだが規則的であり、そこから生み出るものを信じる強さがある。満ち足りていて、そして、強い意思と理解がある。
                    | 今回のギャラリーのテーマを「流動的」にしたのは、私が好んで使う言葉の一つだからというのもあるが、今の現代において「流動的」という言葉は、極めて重要な価値観の一つであると考えたからだ。様々なものがデジタル化され、物の抽象度が高まっている。私も現金よりも電子マナーを利用する方が多くなっているし、打ち合わせもチャットやオンライン会議で済ませることが多くなってきた。人の代わりにAIが業務を行うなんてプロジェクトにも携わっている。デジタル化の流れは加速していて、今や我々の生活に深く関わってくるようになってきた。
                    br
                    | デジタルは既存の価値観を壊していると言われる。バイアスを壊し、既存の価値観を覆すことがデジタル時代の勝者であるとも。果たしてそうだろうか。破壊的イノベーションという言葉もあるが、本当に破壊しているのだろうか。
                    br
                    | 実はもともと我々の価値観は「流動的」だったのではないか。固定されていたと考えていたものは、実は固定されていなかったのだ。形状は「流動的」で、時代という法則に沿って、緩やかに状態遷移をしていたのだ。そして、ただ、そのスピードがほんの少し加速しただけなのだ。最近よくそう思うようになった。
                    br
                    | 心理学者レイモンド・キャッテルは、人間の知能を”結晶性知能”と”流動性知能”の2つに分類した。”結晶性知能”とは、過去の経験に基づく知能であり、教育や仕事など様々な経験に形成された個人的な能力である。日常的習慣や免許などの専門的な知識がこれにあたる。対して”流動性知能”とは、新しい場面へ適応するための知能であり、未知のパターンを認識する能力だ。推論、思考、集中などの能力である。IQの対象にもなっている能力だ。”流動性知能”は25歳をピークに、年齢を重ねるごとに下がっていく。反対に”結晶性知能”は、年齢を増すごとにあがっていくと言われる。
                    br
                    | ”流動性知能”とは、ある意味、何かを受け入れる能力なのだろうと思う。そう考えると現代に必要な能力は”流動性知能”なのかもしれない。興味心を失わず、新しさをある一定の意思を持って受け流し、そして受け入れる能力。”流動性知能”は利用しないとすぐに衰えてしまう。この能力を意識的に利用することが現代では極めて重要なのかもしれない。
                    br
                    | 我々の人格もまた「流動的」なのかもしれない。人生という法則に従って、ゆるやかに状態遷移している。そして、それは自分自身で意識的に利用することも可能なのだ。物事を意識的に「流動的」に捉え、受け入れる。そうやって優雅に時代に流れていければと思う。
                time(datetime="2019-05-10").letter__time 2019.5.10
                .introduction
                    .introduction__img
                        img(src="./images/letter/letter-main.png", alt="「流動的」の作品")
                    .introduction-contents
                        h2.introduction-contents__ttl.mb10 flooding
                        p.introduction-contents__txt 2019
                            br
                            | Pencil drawing
                            br
                            | 545x394mm
                        a(href="https://56gi.tumblr.com/" target="_blanck").introduction-contents__name.mt20.mb20 魏嘉瑩
                        p.introduction-contents__career 1995 上海生まれ
                            br
                            | 2018 ロンドン芸術大学 美術学部 グラフィックデザイン 卒業
                            br
                            | 2019〜 東京芸術大学 大学院美術研究科 先端芸術表現M1 在籍
                            br
                            br
                            | 作品を「人々と対話できる媒介」とし、社会現象から見る現代人の心理的活動やライフスタイルにインスピレーションを得、絵画、製本、アニメーション、写真、映像を中心に創作。
                            br
                            | 現代に生きる女性を取り巻く現状を研究をしている。
                        
            .letter__bg
        .letter-gallery
            h2.letter-gallery__ttl dummy  POINT EDGE  Gallery
            .gallery
                +gallery('./images/letter/letter-other1.png','Jaroslaw Danilenko')
                +gallery('./images/letter/letter-other2.png','Jaroslaw Danilenko')
                +gallery('./images/letter/letter-other3.png','Jaroslaw Danilenko')
                +gallery('./images/letter/letter-other4.png','Jaroslaw Danilenko')
                +gallery('./images/letter/letter-other5.png','Jaroslaw Danilenko')
    include _footer.pug