include _tag.pug
include _card.pug
doctype html
html(lang="ja")
  head
    include _head.pug
  body
    include _header.pug
    .list
        .list-wrap
            +tag()
            .list-contents
                .list-contents__item
                    +card('./images/top/study1.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study2.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study3.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study1.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study2.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study3.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study1.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study2.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
                .list-contents__item
                    +card('./images/top/study3.png', '自社製品／サービスに真の目的・目標を設定する価値づくり',false,'Business','UX','UI','SysDev','Web')
    include _footer.pug