@charset "UTF-8";
/*-------------------------------------------------------------
	style
-------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*-------------------------------------------------------------
	_variable
-------------------------------------------------------------*/
/*-------------------------------------------------------------
	_mixins
-------------------------------------------------------------*/
/*-------------------------------------------------------------
	_global
-------------------------------------------------------------*/
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, sans-serif;
  color: #000;
  background-color: #fff; }

/*-------------------------------------------------------------*/
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/*-------------------------------------------------------------*/
::-moz-selection {
  background-color: #ccc;
  color: #333; }
::selection {
  background-color: #ccc;
  color: #333; }

::-moz-selection {
  background-color: #ccc;
  color: #333; }

a {
  text-decoration: none;
  -webkit-transition: opacity 0.2s linear; }

a:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8; }

@media screen and (max-width: 1024px) {
  a:hover {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1; } }

/*-------------------------------------------------------------*/
/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: transform, height; }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url(../img/btn_prev.svg);
  left: 0;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/btn_next.svg);
  right: 0;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

/* 3D Container */
.swiper-container-3d {
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-right {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-top {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

.swiper-container-3d .swiper-slide-shadow-bottom {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */ }

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

/*-------------------------------------------------------------
	_desktop-header
-------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000; }
  .header__inner {
    width: 100%;
    height: 72px;
    margin: 0 auto;
    position: relative; }
    .header__inner__logo {
      position: absolute;
      left: 0;
      top: 16px; }
    .header__inner__sns {
      position: absolute;
      width: 68px;
      height: 24px;
      right: 0;
      top: 24px; }
      .header__inner__sns li {
        float: left; }
        .header__inner__sns li:first-child {
          margin-right: 20px; }
    .header__inner__gnav {
      font-family: "futura-pt";
      font-weight: bold;
      font-size: 14px;
      text-align: center; }
      .header__inner__gnav li {
        display: inline-block;
        height: 72px;
        line-height: 72px;
        padding: 0 25px; }
        .header__inner__gnav li a {
          color: #000; }

/*-------------------------------------------------------------
	_desktop-footer
-------------------------------------------------------------*/
.footer {
	background: #000;
	padding: 30px 20px;
}
.footer .logo img {
	height: 30px;
	width: 160px;
}
.footer .f_list {
	display: grid;
	grid-template-rows: 50px;
	grid-template-columns: 1fr 1fr;
}

.privacy-policy{
	padding-top: 10px;
	margin-right: 10px;
	text-align: right;
	font-size: 11px;
	color: #000000;
}
.privacy-policy a:link { color: #FFFFFF; }
.privacy-policy a:visited { color: #FFFFFF; }
.privacy-policy a:hover { color: #FFFFFF; }
.privacy-policy a:active { color: #FFFFFF; }

/*-------------------------------------------------------------
	_desktop
-------------------------------------------------------------*/
.sp {
  display: none; }

/*-----------------------------------------------------------*/
html, body {
  height: 100%; }

.container {
  position: relative;
  height: 100%;
  width: 100%; }

/*-----------------------------------------------------------*/
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center center; }

.swiper-pagination {
  display: none; }

.toptxt {
  width: 378px;
  height: 256px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin: -128px 0 0 -189px;
  color: #fff;
  line-height: 64px;
  font-size: 42px;
  letter-spacing: .1em;
  font-weight: bold; }
  .toptxt p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 20px; }

.scroll {
  position: absolute;
  z-index: 999;
  bottom: 30px;
  left: 50%;
  margin-left: -46px; }

/*-----------------------------------------------------------*/
.box__ttl {
  font-family: "futura-pt";
  font-weight: bold;
  font-size: 42px;
  letter-spacing: .01em; }

/*-----------------------------------------------------------*/
.news {
  text-align: center;
  padding: 60px 0; }
  .news .box__ttl {
    padding: 0 0 40px 0; }
  .news .newslist {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    max-width: 1000px;
    margin: 0 auto; }
    .news .newslist li {
      text-align: left;
      width: 33%;
      box-sizing: border-box;
      margin: 0 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.08); }
      .news .newslist li div {
        background-color: #fff;
        padding: 15px; }
        .news .newslist li div .day {
          font-size: 12px;
          font-weight: bold;
          font-family: "futura-pt";
          letter-spacing: 0.1em; }
        .news .newslist li div .text {
          line-height: 1.6;
          font-size: 13px;
          margin-top: 10px; }

/*-----------------------------------------------------------*/
.about {
  background-color: #f6f6f6;
  padding: 60px 0;
  box-sizing: border-box;
  border-left: 10px solid #000;
  text-align: center; }
  .about h1 {
    display: inline-block;
    background: #000;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 15px; }
  .about .text {
    width: 100%;
    max-width: 620px;
    line-height: 1.8;
    text-align: left;
    margin: 40px auto 0 auto; }

/*-----------------------------------------------------------*/
.about2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  border-right: 10px solid #000; }
  .about2 .imgbox {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .about2 .imgbox li {
      width: 50%; }
      .about2 .imgbox li img {
        width: 100%;
        vertical-align: bottom; }
  .about2 .textbox {
    width: 50%;
    text-align: center;
    padding: 0 40px; }
    .about2 .textbox h1 {
      display: inline-block;
      background: #000;
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      padding: 10px 15px; }
    .about2 .textbox .text {
      width: 100%;
      line-height: 1.8;
      text-align: left;
      margin: 40px auto 0 auto;
      font-size: 14px; }

/*-----------------------------------------------------------*/
.about3 {
  padding: 60px 0;
  background: #000; }
  .about3 ul {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
    .about3 ul li {
      width: 50%;
      text-align: center;
      box-sizing: border-box;
      padding: 0 20px; }
      .about3 ul li img {
        width: 100%; }

/*-----------------------------------------------------------*/
.price {
  padding: 60px 0;
  text-align: center;
  background: #f6f6f6; }
  .price .box__ttl {
    padding: 0 0 40px 0; }
  .price .pt {
    padding-top: 40px;
    font-size: 14px; }
  .price .pricelist {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    max-width: 720px;
    margin: 0 auto; }
    .price .pricelist li {
      width: 50%;
      background: #fff;
      padding: 1px;
      position: relative;
      margin: 0 20px; }
      .price .pricelist li h2 {
        background: #000;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        height: 36px;
        line-height: 36px;
        margin-bottom: 10px; }
      .price .pricelist li .inner {
        padding: 19px;
        text-align: right; }
        .price .pricelist li .inner p {
          font-size: 16px;
          padding-bottom: 20px; }
          .price .pricelist li .inner p span {
            font-size: 36px;
            font-weight: bold;
            display: inline-block;
            width: 135px;
            padding-right: 10px; }
  .price a {
    display: inline-block;
    color: #000;
    border: 1px solid #000;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    max-width: 280px;
    line-height: 60px;
    margin-top: 40px; }
    .price a:hover {
      background: #000;
      color: #fff; }

/*-----------------------------------------------------------*/
.sche {
  padding: 60px 0;
  text-align: center; }
  .sche .box__ttl {
    padding: 0 0 40px 0; }
  .sche__inner {
    display: table;
    width: 100%; }
    .sche__inner__left {
      display: table-cell;
      height: 500px;
      width: 60%;
      vertical-align: middle; }
      .sche__inner__left .calendar {
        padding: 0 20px; }
        .sche__inner__left .calendar iframe {
          width: 100%;
          height: 500px; }
    .sche__inner__right {
      display: table-cell;
      width: 40%;
      vertical-align: middle; }
      .sche__inner__right-con {
        width: 90%;
        margin: 0 auto; }
        .sche__inner__right-con .img {
          width: 100%;
          height: 300px;
          border-radius: 3px;
          background-size: cover;
          background-position: center center;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05); }
        .sche__inner__right-con .text {
          line-height: 1.6;
          padding: 20px 0 0 0; }

/*-----------------------------------------------------------*/
.acc {
  padding: 60px 0 0 0;
  text-align: center;
  background: #fafafa; }
  .acc .box__ttl {
    padding: 0 0 40px 0; }
  .acc__inner {
    display: table;
    width: 100%; }
    .acc__inner__left {
      display: table-cell;
      width: 40%;
      vertical-align: middle;
      height: 500px;
      background: #fff; }
      .acc__inner__left-con {
        width: 90%;
        margin: 0 auto; }
        .acc__inner__left-con .logo img {
          width: 180px; }
        .acc__inner__left-con .name {
          font-family: "futura-pt";
          font-size: 24px;
          letter-spacing: .03em;
          padding: 30px 0 0 0; }
        .acc__inner__left-con .text {
          padding: 30px 0 0 0;
          line-height: 2; }
    .acc__inner__right {
      display: table-cell;
      width: 60%;
      vertical-align: middle; }
      .acc__inner__right .map iframe {
        width: 100%;
        height: 500px;
        display: block; }

/*-----------------------------------------------------------*/
.con {
  padding: 60px 0;
  text-align: center;
  border-top: 1px solid #eee; }
  .con .box__ttl {
    padding: 0 0 40px 0; }
  .con p {
    line-height: 2; }
  .con a {
    display: inline-block;
    color: #000;
    border: 1px solid #000;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    max-width: 280px;
    line-height: 60px;
    margin-top: 40px; }
    .con a:hover {
      background: #000;
      color: #fff; }
/*----------オプション表示----------*/
.op_info {
	margin-bottom: 30px;
}
.op_select_cowork {
	margin-top: 45px;
}
.op_select {
	margin-top: 35px;
}
.op_info .op_item {
	display: inline-block;
	margin: 0 15px;
}
.op_select .op_selectitem {
	display: inline-block;
	margin: 0 15px;
}
.op_select_cowork .op_selectitem {
	display: inline-block;
	margin: 0 15px;
}
.op_info .op_item img {
	width: 50px;
}
.op_select .op_selectitem img {
	width: 50px;
}
.op_select_cowork .op_selectitem img {
	width: 50px;
}
.op_info .op_item p {
	font-size: 16px;
	float: right;
	margin-top: 10px;
	margin-left: 10px;
}

/*----------新しい料金表----------*/
.price_info_container {
	margin: 20px auto 0 auto;
	width: 960px;
}
.space_box_1 {
	width: 460px;
	height: 670px;
	margin-bottom: 40px;
	background-color: #FFFFFF;
}
.space_box_2 {
	width: 460px;
	height: 620px;
	margin-bottom: 40px;
	background-color: #FFFFFF;
}
.space_box_1:nth-of-type(odd) {
	float: left;
}
.space_box_2:nth-of-type(odd) {
	float: left;
}
.space_box_1:nth-of-type(even) {
	float: right;
}
.space_box_2:nth-of-type(even) {
	float: right;
}
.space_box_1 img {
	width: 100%;
}
.space_box_2 img {
	width: 100%;
}
.price_info_container h2 {
	font-size: 22px;
	line-height: 60px;
	text-align: center;
}
.price_info_container p {
	font-size: 18px;
	line-height: 30px;
}
.price_info_container table {
	font-size: 16px;
	line-height: 25px;
	margin: 25px auto 15px auto;
}
.price_info_container table th,
.price_info_container table td {
	padding: 8px 8px 12px 8px;
}
.price_info_container table th {
	width: 150px;
}
#cowork_table {
	margin: 30px auto 15px auto;
}
#cowork_table th{
	width: 100px;
}
.price_info_container .option_1{
	font-size: 14px;
	line-height: 22px;
}
.price_info_container .option_2{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 30px;
}
.price_info_container .cowork_plan_2 {
	margin: 0px auto 15px auto;
}
.price_info_container .cowork_plan_2 th {
	text-align: center;
}
.price_info_container .reservation_button {
	width: 220px;
	margin: 0px auto 15px auto;
}

/*------新しい料金表ここまで-----*/

.p_txt {
  max-width: 960px;
  width: 90%;
  margin: 20px auto 0 auto;
  line-height: 1.6;
  font-size: 13px;
  text-align: left; }

.tax {
  display: inline-block;
  font-size: 10px;
  padding: 0 0 0 3px; }

.box {
  position: relative;
  overflow: hidden; }

.squareWrap {
  position: absolute;
  top: 0%;
  display: -ms-flexbox;
  display: flex;
  opacity: 0; }

.squareWrapAnime {
  animation: squareWrap 3s  forwards; }

.squareWrapRotate {
  transform: rotate(90deg); }

.square {
  width: 60px;
  height: 60px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden; }
  .square .square__child {
    display: block;
    width: 50%;
    height: 50%;
    overflow: hidden; }
    .square .square__child span {
      display: block;
      width: 100%;
      height: 5px;
      margin: 1px 0;
      background: #fff; }
      .square .square__child span:nth-child(even) {
        background: #fff; }
  .square .square__child:nth-child(1) {
    background: #000; }
  .square .square__child:nth-child(2) {
    background: #000; }
  .square .square__child:nth-child(3) {
    background: #000; }
  .square .square__child:nth-child(4) {
    background: #000; }

.squareAnime {
  animation: squareBox 3s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate; }
  .squareAnime .square__child span {
    animation: squareC-a 4s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;
    background: #fff; }
  .squareAnime .square__child:nth-child(1) {
    animation: squareB-a 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate; }
  .squareAnime .square__child:nth-child(2) {
    animation: squareA-b 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate; }
  .squareAnime .square__child:nth-child(3) {
    animation: squareA-a 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate; }
  .squareAnime .square__child:nth-child(4) {
    animation: squareB-b 1s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate; }

@keyframes squareWrap {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  50% {
    opacity: 1;
    transform: translateY(0); }
  99% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    display: none; } }

@keyframes squareBox {
  0% {
    transform: rotate(0) scale(1);
    transform-origin: center center; }
  100% {
    transform: rotate(360deg) scale(1);
    transform-origin: center center; } }

@keyframes squareA-a {
  0% {
    transform: scaleY(1);
    transform-origin: top center; }
  100% {
    transform: scaleY(0);
    transform-origin: top center; } }

@keyframes squareA-b {
  0% {
    transform: scaleY(1);
    transform-origin: bottom center; }
  100% {
    transform: scaleY(0);
    transform-origin: bottom center; } }

@keyframes squareB-a {
  0% {
    transform: scaleY(0);
    transform-origin: bottom center; }
  100% {
    transform: scaleY(1);
    transform-origin: bottom center; } }

@keyframes squareB-b {
  0% {
    transform: scaleY(0);
    transform-origin: top center; }
  100% {
    transform: scaleY(1);
    transform-origin: top center; } }

@keyframes squareC-a {
  0% {
    transform: scaleY(0);
    transform-origin: top center; }
  100% {
    transform: scaleY(1);
transform-origin: top center; } }


@media screen and (max-width: 768px) {
  /*-------------------------------------------------------------
	_mobile-header
-------------------------------------------------------------*/
  .header {
    height: 60px;
    padding: 0 10px; }
    .header__inner {
      height: 60px; }
      .header__inner__logo {
        position: absolute;
        left: 0;
        top: 15px; }
        .header__inner__logo img {
          height: 30px;
          width: auto; }
      .header__inner__sns {
        position: absolute;
        width: 68px;
        height: 24px;
        right: 0;
        top: 18px; }
        .header__inner__sns li {
          float: left; }
          .header__inner__sns li:first-child {
            margin-right: 15px; }
      .header__inner__gnav {
        display: none; }
  /*-------------------------------------------------------------
	_mobile
-------------------------------------------------------------*/
  .pc {
    display: none !important; }
  .sp {
    display: block !important; }
  /*-----------------------------------------------------------*/
  /*-----------------------------------------------------------*/
  .toptxt {
    width: 298px;
    height: 240px;
    margin: -120px 0 0 -149px;
    line-height: 60px;
    font-size: 36px; }
    .toptxt p {
      padding: 0 10px; }
  .scroll {
    bottom: 20px;
    margin-left: -46px; }
  /*-----------------------------------------------------------*/
  .box__ttl {
    font-size: 32px; }
  /*-----------------------------------------------------------*/
  .news {
    padding: 30px 0; }
    .news .box__ttl {
      padding: 0 0 20px 0; }
    .news .newslist {
      display: block;
      padding: 0 10px; }
      .news .newslist li {
        text-align: left;
        width: 100%;
        margin: 0 0 10px 0; }
        .news .newslist li div {
          background-color: #fff;
          padding: 10px; }
          .news .newslist li div .day {
            font-size: 11px; }
          .news .newslist li div .text {
            font-size: 12px;
            margin-top: 8px; }
  /*-----------------------------------------------------------*/
  .about {
    padding: 30px 0;
    border-left: 5px solid #000; }
    .about h1 {
      display: inline-block;
      background: #000;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 10px; }
    .about .text {
      width: 90%;
      margin: 20px auto 0 auto;
      font-size: 14px; }
  /*-----------------------------------------------------------*/
  .about2 {
    display: block;
    border-right: 5px solid #000; }
    .about2 .imgbox {
      width: 100%; }
      .about2 .imgbox li {
        width: 50%; }
    .about2 .textbox {
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box; }
      .about2 .textbox h1 {
        display: inline-block;
        background: #000;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 10px; }
      .about2 .textbox .text {
        padding: 0 20px;
        box-sizing: border-box;
        margin: 20px auto 0 auto;
        font-size: 14px; }
  /*-----------------------------------------------------------*/
  .about3 {
    padding: 30px 0; }
    .about3 ul {
      display: block;
      width: 100%;
      max-width: auto; }
      .about3 ul li {
        width: 100%;
        padding: 20px; }
/*-----------------------------------------------------------*/
  .price {
    padding: 30px 0; }
    .price .box__ttl {
      padding: 0 0 20px 0; }
    .price .pt {
      padding-top: 20px;
      font-size: 12px; }
    .price .pricelist {
      display: block;
      padding: 0 10px; }
      .price .pricelist li {
        width: 100%;
        background: #fff;
        padding: 1px;
        position: relative;
        margin: 0 0 10px 0; }
        .price .pricelist li h2 {
          background: #000;
          color: #fff;
          font-size: 13px;
          font-weight: bold;
          height: 36px;
          line-height: 36px; }
        .price .pricelist li .inner {
          padding: 19px;
          text-align: center; }
          .price .pricelist li .inner p {
            font-size: 16px;
            padding-bottom: 20px; }
            .price .pricelist li .inner p span {
              font-size: 36px;
              font-weight: bold;
              display: inline-block;
              padding: 0 10px; }
/*-----------------------------------------------------------*/
/*---オプション表示---*/
.op_info {
	width: 300px;
	height: 320px;
	margin: 0px auto 30px auto;
}

.op_info .op_item {
	display: flex;
	width: 200px;
	margin: 0px auto 15px auto;
}
.op_info .op_item img {
	width: 50px;
	height: 50px;
}
.op_info .op_item .op_name {
	padding-left: 10px;
}
/*---新しい料金表---*/
.price_info_container {
	width: 100%;
}
.space_box_1 {
	width: 100%;
	height: 100%;
	margin:0 auto 20px auto;
}
.space_box_2 {
	width: 100%;
	height: 100%;
	margin:0 auto 20px auto;
}
.space_box_1:nth-of-type(even) {
	float: left;
}
.space_box_2:nth-of-type(even) {
	float: left;
}
.op_select {
	margin-bottom: 30px;
}
.op_select_cowork {
	margin: 30px auto 30px auto;
}

/*---新しい料金表ここまで---*/

  .sche {
    padding: 30px 0;
    text-align: center; }
    .sche .box__ttl {
      padding: 0 0 20px 0; }
    .sche__inner {
      display: block; }
      .sche__inner__left {
        display: block;
        height: auto;
        width: 100%; }
        .sche__inner__left .calendar {
          padding: 0 10px; }
          .sche__inner__left .calendar iframe {
            width: 100%;
            height: 300px; }
      .sche__inner__right {
        display: block;
        width: 100%; }
        .sche__inner__right-con {
          padding-top: 15px;
          width: 100%;
          margin: 0 auto; }
          .sche__inner__right-con .img {
            height: 100px;
            border-radius: 0; }
          .sche__inner__right-con .text {
            font-size: 12px;
            line-height: 1.4;
            padding: 15px 0 0 0; }
  /*-----------------------------------------------------------*/
  .acc {
    padding: 30px 0 0 0; }
    .acc .box__ttl {
      padding: 0 0 30px 0; }
    .acc__inner {
      display: block; }
      .acc__inner__left {
        display: block;
        width: 100%;
        height: auto;
        background: #fafafa; }
        .acc__inner__left-con {
          width: 100%;
          margin: 0 auto;
          padding: 0 0 30px 0; }
          .acc__inner__left-con .logo img {
            width: 90px; }
          .acc__inner__left-con .name {
            font-family: "futura-pt";
            font-size: 18px;
            letter-spacing: .03em;
            padding: 20px 0 0 0; }
          .acc__inner__left-con .text {
            padding: 30px 0 0 0;
            line-height: 2;
            font-size: 13px; }
      .acc__inner__right {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
        height: auto; }
        .acc__inner__right .map iframe {
          width: 100%;
          height: 300px;
          display: block; }
  /*-----------------------------------------------------------*/
  .con {
    padding: 30px 20px; }
    .con .box__ttl {
      padding: 0 0 20px 0; }
    .con p {
      line-height: 1.6;
      font-size: 13px;
      text-align: left; }
      .con p br {
        display: none; }
    .con a {
	margin-top: 20px; }
	
  /*-----------------------------------------------------------*/
  .price__table {
    display: none; }
  .p_table {
    display: block !important; }
    .p_table p {
      padding: 30px 10px 10px 5px; }
      .p_table p img {
        width: 100%;
        max-width: 480px; }
  .p_txt {
    margin: 10px auto 0 auto;
    font-size: 12px; } }
